*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: fantasy;
}
header{
    height: 70px;
    width: 100%;
    background-color: lightskyblue;
    position: relative;
}
.logo{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 5px;
    left: 15px;
}
img{
    height: 60px;
    width: 100%;
    position: absolute;
}
p{
    top: 20px;
    left: 100px;
    position: absolute;
}
#navlinks{
    height: 60px;
    width: 40%;
    position: absolute;
    top: 5px;
    left: 50%;
}
a{
    text-decoration: none;
    display: inline-block;
    top: 23px;
    left: 800px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
li{
    display: inline-block;
}
